

.login-btn {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #008000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.login-btn:hover {
  transform: scale(1.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: slide-in 0.5s ease-in-out;
}

.login-input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #97c1d179;
  box-shadow: 0 0 5px rgba(17, 81, 207, 0.715);
  font-size: 1rem;
}

.login-submit {
  padding: 0.7rem 2.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #0d70e2;
  color: white;
  font-weight: lighter;
  font-size: 17px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.login-submit:hover {
  transform: scale(1.1);
}

.login-form:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to bottom right, #2f47ff,#0d70e2, #24d1dd);
  clip-path: polygon(0 0, 90% 0, 70% 100%, 0% 100%);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
}

.login-form:before {
  clip-path: polygon(0 0, 60% 0, 60% 100%, 0 100%);
}

.login-form:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  height: 100%;
  background: linear-gradient(to bottom left, #2f47ff,#0d70e2, #24d1dd);
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 10% 100%);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
}

.login-form:after {
  clip-path: polygon(100% 0, 25% 0, 25% 100%, 100% 100%);
}




.login-form:hover:before {
  transform: translateX(-50%);
}

.login-form:hover:after {
  transform: translateX(50%);
}

.login-form {
  position: relative; /* make the position relative to enable absolute positioning of close button */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: slide-in 0.5s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 300px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #999;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  color: #333;
}




@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}